@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Jost:wght@200&display=swap')

//@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
//@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap'
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Public+Sans:wght@300&display=swap')

//$primary: '#95b4f1'
$primary: '#1A237E'
$secondary: '#5f72bb'
$success: '#b6d7a8'
$accent: 'a27f72'
$default: '320f04'

// $headline: 'Bree Serif', serif
$headline: 'Nunito', sans-serif
// $para: 'Jost', sans-serif
$para: 'Nunito', sans-serif

body
  font-family: $headline

h1,h2,h3,h4,h5
  font-family: $headline

p, div
  font-family: $para

.title
  z-index: 99
  font-family: $headline


.v-alert__content
  font-family: $para


#g-map
  width: 100%
  font-size: 2em
  color: $primary

.upper
  text-transform: uppercase
